[user]
name = Kyle
email = github@kyle.dev

[push]
default = current

[pull]
ff = true

[merge]
ff = true
conflictstyle = zdiff3

[init]
defaultBranch = main

[diff]
algorithm = histogram

[log]
date = iso

[core]
autocrlf = false

[includeIf "gitdir:~/kyldvs/"]
path = ~/.config/git/kyldvs.gitconfig

[includeIf "gitdir:~/stoke/"]
path = ~/.config/git/stoke.gitconfig

[includeIf "gitdir:~/swarm/"]
path = ~/.config/git/stoke.gitconfig

[includeIf "gitdir:~/ykcd/"]
path = ~/.config/git/ykcd.gitconfig
